<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JamesDibble.ApplicationFramework.Configuration" version="1.1.0.45" targetFramework="net45" />
  <package id="JamesDibble.ApplicationFramework.Data.Core" version="1.1.0.45" targetFramework="net45" />
  <package id="JamesDibble.ApplicationFramework.Data.Persistence" version="1.1.0.45" targetFramework="net45" />
  <package id="JamesDibble.Extensions.System" version="1.1.0.45" targetFramework="net45" />
</packages>