@using Ketchup.Model
@using Ketchup.Model.Product
@model dynamic
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-4">
    @this.Html.Partial("AddProductAttributeTypeForm", new ProductAttributeType())
</div>
