<!DOCTYPE html>
<html lang="en">
<head>
    <title>@this.ViewBag.Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/cosmo/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    @this.RenderSection("Style", false)
</head>
<body>
    <section class="container">
        <div class="row" id="content">
            @this.RenderBody()
        </div>
    </section>
    @this.RenderSection("Script", false)
</body>
</html>